@import '../../Styles/Variables/index.scss';

.follower_card {
  display: flex;
  flex-grow: 1;
  background-color: $secondary;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
  box-shadow: -1px -1px 5px 0px  rgba($color:  $primary, $alpha: 0.75);
  border-radius: 0.5rem;
  color: #fff;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    @media (max-width: 900px) {
      width: 3rem;
      height: 3rem;
    }
  }

  @media (max-width: 900px) {
    flex-direction: row;
    gap: 0.5rem;
  }
}


.link_card {
  text-decoration: none;
  width: 30%;

  @media (max-width: 900px) {
    width: 100%;
  }
}
