@import '../../Styles/Variables/index.scss';

.form_user_search{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  #user {
    border-radius: 0.4rem;
    height: 1.5rem;
    width: 50%;
    background-color: $secondary;
    color: #fff;
    padding: 0.5rem;
    border: none;
    box-shadow: -1px -1px 5px 0px  rgba($color:  $primary, $alpha: 0.75);


    &:focus, &:active {
      outline: none;
      border: 1px solid rgba($color:  $details, $alpha: 0.35);
      background-color: $secondary;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
